body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*padding-top: 50px;*/
}
/*进度条*/
.progress {
    margin-bottom: 15px;
}
.wh64{
    width: 64px;
    height: 64px;
    border-radius:50% ;
}
.mar_t15{
    margin-top: 15px;
}

.page-header{
    margin-top: 0;
}
.page-header h1{
    margin: 0;
    font-size: 16px;
}

.user_search{
    padding: 10px;
    border: 1px solid #dddddd;
    border-top:none ;
}
.pad0{
    padding: 0;
}

.alert{
    margin:15px 15px 15px 0;
}
footer{
    font-weight: 400;
    text-align: center;
    padding:20px ;
}
#myModal_add p{
    text-indent: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin: 10px;
}
#myModal_add .mar{
    margin: 10px 20px;
}
#myModal_add label{
    margin: 10px 20px;
}